<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LanManager</title>
</head>
<body ng-app="lanmanager" ng-controller="NavigationCtrl">
<nav ng-if="user" class="navbar navbar-default no-margin navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
        <a class="navbar-brand" href="#"><i class="fa fa-bug fa-4"></i> Manager für Lan Partys</a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

        </ul>
        <div class="navbar-header navbar-right">
            <ul class="nav navbar-nav">
                <li class="header-search">
                    <input type="text" class="form-control" ng-model="serchTerm" placeholder="Suchen" ng-change="searchEmit(serchTerm)">
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span><i class="fa fa-user"></i> {{user.name}}</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <span class="user_navbar">Hallo {{user.givenName}}</span>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Profil bearbeiten</a></li>
                        <li><a href="#">Einstellungen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-brand navbar-img">
                <a href="#/home">
                    <img alt="" src="">
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
